*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
html{
	scroll-behavior: smooth;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
	font-family: Roboto, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #212529;
	font-size: 16px;
	background-color: #f8f9fa;
}
.container{
	max-width: 1440px;
	margin: 0 auto;
}
.header{
	text-align: center;
	padding: 32px 0;
	border-bottom: 1px solid #dee2e6;
}
.header-avatar{
	height: 126px;
	width: 126px;
	border-radius: 50%;
	border: 3px solid #0d6efd;
}
.header-name{
	font-size: 32px;
	font-weight: 700;
	color: #0d6efd;
	line-height: 1.6;
	margin: 20px 0 5px;
	
}

.header-position{
	font-size: 19px;
	line-height: 1.6;
	opacity: 0.8;
}
.navigation-list{
	display: flex;
	justify-content: center;
	column-gap: 20px;
	padding: 20px 0;
	margin: 20px 0;
}
.navigation-item{
}
.navigation-link{
	color: #212529;
	font-weight: 500;
	transition: color 0.3s;
	padding: 5px;
}
.navigation-link:hover{
	color: #0d6efd;
}